<a href="https://colab.research.google.com/github/jitenderArya/Pw-skills-assignment-week-1/blob/main/assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1. How do you comment code in Python? What are the different types of comments?

In [ ]:
# for single line comment we use "#" at the starting of the line
#For multi line coment we use """ tripple at the starting of the line and at the end of line

Q2. What are variables in Python? How do you declare and assign values to variables?

In [ ]:
# variable is name and lable which is use to store data. variable contains data assigned into it eg A =123( where ""A is variable and "123" is data assigned in it)
# variavbles are case sensitive eg. KARAN AGE = 25, karan age = 26 , Karan Age = 27. python will take all this as different varibale.
# we use "=" sign for assignment to a variable
#we can use multiple assignment at a single line eg A,B,C = 10, 20, 30 .where 10 is asiigned to A, 20 is assigned to B, 30 is assigned to C

Q3. How do you convert one data type to another in Python?

In [ ]:
# Ans =in python we convert a data type to another data type by using data typecasting
# eg.
l= 123
type(l)
print("data type of:",l,"is",type(l),"before typecasting")
l=str(l)
print("data type of:",l,"is",type(l),"After typecasting")

data type of: 123 is <class 'int'> before typecasting
data type of: 123 is <class 'str'> After typecasting

4.How do you write and execute a Python script from the command line?

In [ ]:
# o execute the script from the command line, we need to have Python installed on our computer. we can then navigate to the directory where our script is located using the cd command and run the script using the python command followed by the name of our script. For example: cd/path/to/script python myscript.py

Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [ ]:
my_list = [1,2,3,4,5]
print("sub-list", my_list[1:3:])

sub-list [2, 3]

Q6. What is a complex number in mathematics, and how is it represented in Python?

In [ ]:

#in mathemetics complex number contains numeric and afphabetic keyword together. in pythone its represented as complex data types 1 real number and one imagenary number
# for example

a = 5 +6j
print("iamgenary",a.imag ,"," ,"real", a.real)

iamgenary 6.0 , real 5.0

Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [ ]:
age =25

Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable
belong to?

In [ ]:
price = 9.99
print("Data type of price is", type(price))

Data type of price is <class 'float'>

Q9. Create a variable named name and assign your full name to it as a string. How would you print the
value of this variable?

In [ ]:
name = "Jitender Arya"
print(name)

Jitender Arya

Q10. Given the string "Hello, World!", extract the substring "World

In [ ]:
c ="Hello, world"

In [ ]:
c[7:12]

'world'

Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are
currently a student or not.

In [ ]:
is_student = True