<a href="https://colab.research.google.com/github/jitenderArya/Pw-skills-assignment-week-1/blob/main/Pw_skills_assignment_1_wk1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1. Create one variable containing following type of data:

(i) string

(ii) list

(iii) float

(iv) tuple

**Answer with output below**

In [ ]:
a='Hi i am jitender Arya and starting upgrading my self with the help of Pw skills '
b=[1,2,3,'jitender arya',2.34, True]
c=2.34
D=(1,2,'jitendedr Arya',52.6,6+7j)
print(type(a), type(b), type(c), type(D))

<class 'str'> <class 'list'> <class 'float'> <class 'tuple'>

Q2. Given are some following variables containing data:

(i) var1 = ‘ ‘

(ii) var2 = ‘[ DS , ML , Python]’

(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

(iv) var4 = 1.


What will be the data type of the above given variable.


**Answer with output below**

In [ ]:
var1 = ''

var2 = '[ DS , ML , Python]'

var3 = [ 'DS' ,'ML' , 'Python' ]

var4 = 1.

print(type(var1), type(var2), type(var3), type(var4))

<class 'str'> <class 'str'> <class 'list'> <class 'float'>

Q3. Explain the use of the following operators using an example:

(i) /

(ii) %

(iii) //

(iv) **

**Answer with output below**

**operator /(divison)** is arthmatic operator which is use for divison
let 10 divided by 3. so 10 must be the left side of the "/" and 3 must be right side of the "/". and its shows **equotient** as output with decimals .
ex.
10/3=3.3333333333333335


**Operator //(floor divison) is arthmatic operator which is use for divison**
 its shows **equotient** as output without decimals.
ex.
10//3=3

**Operator %(Modulus) is arthmatic operator which is use for divison**
 its shows **Remainder** as output.
ex.
10%3=1


Operator **(Exponent) is arthmatic operator which is use for Exponential calculations
ex
2 *  *2=4

examples are below

In [ ]:
d=10/3
e=10//3
f=10%3
g=2**2

print(d)
print(e)
print(f)
print(g)

3.3333333333333335
3
1
4

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [ ]:
h=[1,'jitender arya',6+3j,69.5,True,(5,6,'ja',256),'Pw skills',False,[1,2,'kmj',85],{"Name":"karan","Age":"26"},{1,2,3,4,5}]

for i in h:
  print(i,type(i))

1 <class 'int'>
jitender arya <class 'str'>
(6+3j) <class 'complex'>
69.5 <class 'float'>
True <class 'bool'>
(5, 6, 'ja', 256) <class 'tuple'>
Pw skills <class 'str'>
False <class 'bool'>
[1, 2, 'kmj', 85] <class 'list'>
{'Name': 'karan', 'Age': '26'} <class 'dict'>
{1, 2, 3, 4, 5} <class 'set'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [ ]:
i =int(input("Enter the number:"))
j = int(input("Enter the number:"))
count = 0
original_number = i
while i % j == 0:
  i //= j
  count += 1

if count > 0:
    print(original_number, "is divisible by", j , "," , count,"times" )
else:
    print(original_number, "is not divisible by", "," , j)

Enter the number:16
Enter the number:2
16 is divisible by 2 , 4 times

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [ ]:
number=[num for num in range(2,31)]
print(number)

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]

In [ ]:
k=[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]
for i in k:
    if i % 3 ==0:
        print(i,"is divisible by",3)
    else:
        print(i,"not divisible by",3)

2 not divisible by 3
3 is divisible by 3
4 not divisible by 3
5 not divisible by 3
6 is divisible by 3
7 not divisible by 3
8 not divisible by 3
9 is divisible by 3
10 not divisible by 3
11 not divisible by 3
12 is divisible by 3
13 not divisible by 3
14 not divisible by 3
15 is divisible by 3
16 not divisible by 3
17 not divisible by 3
18 is divisible by 3
19 not divisible by 3
20 not divisible by 3
21 is divisible by 3
22 not divisible by 3
23 not divisible by 3
24 is divisible by 3
25 not divisible by 3
26 not divisible by 3
27 is divisible by 3
28 not divisible by 3
29 not divisible by 3
30 is divisible by 3

Q7.  What do you understand about mutable and immutable data types? Give examples for both showing
this property.

Immutable data types:
- Immutable data types cannot be changed once created.
- Examples:
  - Integer: `x = 5` (The value of `x` cannot be modified.)
  - Float: `pi = 3.14` (The value of `pi` cannot be modified.)
  - String: `name = "John"` (The value of `name` cannot be modified.)
  - Tuple: `point = (2, 3)` (The elements in `point` cannot be modified.)

Mutable data types:
- Mutable data types can be modified after creation.
- Examples:
  - List: `numbers = [1, 2, 3]` (Elements in `numbers` can be modified: `numbers[0] = 4`)
  - Dictionary: `person = {"name": "John", "age": 25}` (Values in `person` can be modified: `person["age"] = 26`)
  - Set: `fruits = {"apple", "banana", "cherry"}` (Elements in `fruits` can be modified: `fruits.add("orange")`)

In summary, immutable data types cannot be changed, while mutable data types allow modifications to their values after creation.